{% extends "base.html" %}

{% block content %}

<h1>Benvingut/da {{ current_user.nom }}</h1>

{% if current_user.is_authenticated %}

<div class="mt-3">

<a class="btn btn-primary" href="/cita">
Nova cita
</a>

<a class="btn btn-secondary" href="/mis-citas">
Les meves cites
</a>

{% if current_user.rol == "comare" %}
<a class="btn btn-warning" href="/totes-cites">
Agenda comare
</a>
{% endif %}

</div>

{% else %}

<a class="btn btn-primary" href="/login">Login</a>
<a class="btn btn-success" href="/register">Registrar</a>

{% endif %}

{% endblock %}